{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} {{ title }} {% endblock title %}


{% block content %}

<form action="" method="post">

  {% csrf_token %}

  <div class="container d-flex justify-content-center">
        <div class="card-body" >
            <div class="row">
                <div class="col-sm-6">
                    <hr>

                    <p>New password has been set! Please <a href="{% url 'login' %}"> to continue using the website!.</p>

                    </div>
                </div>
            </div>
      </div>           
  </div>

</form>

<style>
  .card{
    background-color:#fff;
    border:none;
    border-radius: 12px
  }
  .form-control{
    margin-top: 10px;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 10px
  }
  .form-control:focus{
    box-shadow: none;
    border: 2px solid #039BE5
  }
  .agree-text{
    font-size: 12px
  }
  .terms{
    font-size: 12px;
    text-decoration: none;
    color: #039BE5
  }
  .confirm-button{
    height: 50px;
    border-radius: 10px
  }
</style>




{% endblock content %}